[submodule "libdragon"]
	path = libdragon
	url = https://github.com/DragonMinded/libdragon
	branch = trunk
[submodule "busybox"]
	path = busybox
	url = https://github.com/mirror/busybox.git
[submodule "linux"]
	path = linux
	url = https://github.com/TacticalPenGuinn/linux.git
